%p#notice= notice

%p
  %b= t('contacts.name')
  = @contact.name
%p
  %b= t('contacts.address')
  = @contact.address
%p
  %b= t('contacts.telephone')
  = @contact.telephone

= link_to t('contacts.edit'), edit_contact_path(@contact)
\|
= link_to t('contacts.back'), contacts_path
